@import url();
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* เพิ่ม Media Queries ที่นี่ */

@media only screen and (max-width: 1440px) {
    body {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }

    header {
        width: 100%;
        height: 50px; /* ปรับความสูงของ header ตามต้องการ */
    }

    .logo {
        margin-left: 20px; /* ปรับระยะห่างซ้ายของ logo ตามต้องการ */
        font-size: 28px; /* ปรับขนาด font-size ของ logo ตามต้องการ */
    }

    .logo svg {
        width: 24px; /* ปรับขนาดของ SVG ตามต้องการ */
        height: 24px;
        fill: white; /* สีของ SVG */
        margin-right: 10px; /* ระยะห่างขวาของ SVG จากชื่อ */
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        font-size: 24px;
    }
}

/* สิ้นสุดการเพิ่ม Media Queries */

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    
}

body {
    background: linear-gradient(180deg, #000 0.01%, #000 85%);

}

:root {
    --text-color : #ededed;
}

html {
    font-size: 65.5;
    overflow: hidden;
}

img {
    width: 100%;
}


/* HEADER */

header {
    width: 100%;
    height: 62px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset;
        backdrop-filter: blur(6.25px);

    display: flex;
    justify-content: left; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center;
 }

.logo {
    display: flex;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    color: white;
    line-height: normal;
    letter-spacing: 1px;

    flex-direction: row;
    padding: 5%;
}

.name {
    display: flex;
    justify-content: left;
}

.svg-head {
    margin-left: 60vh;
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center;
}

/* CONTENT */

label {
    color: #FFF;
    font-weight: 500;
    font-size: 22px;
}

.content {
    display: flex;
}

.select-left {
    position: fixed;
    margin-top: 40vh;
    margin-left: 45vh;

}

.select-right{
    position: fixed;
    margin-top: 40vh;
    margin-left: 110vh;
}

/* Confirm button */
.confirm-all-btn{
    position: fixed;
    width: 174px;
    height: 52px;
    flex-shrink: 0;

    font-size: 20px;
    border-radius: 10px;
    background: #FFF;

    margin-top: 70vh;
    margin-left: 85vh;
}

.confirm-all-btn :hover{
    background-color: rgba(32, 32, 32, 0.48);
}



/* Background */
.bg {
    position: fixed;
    margin-top: 40vh;
    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.788),rgb(0, 0, 2), rgb(0, 0, 0));
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.bg1 {
    position: fixed;
    margin-top: 35vh;
    left: 0;
    background:black;
    background-position: center;
    background-size: contain;
    width: 200vh;
    height: 200vh;
}

.img-bg {
    position: fixed;
    justify-content: center;

}

/* select left */
/* Airline dropdown */


.airline-ddn {
    background-color: #000;
    position: fixed;
    width: 412px;
    height: 48px;
}
  
.search-box-airline {
    width: 412px;
    height: 48px;
    flex-shrink: 0;

    background-color: #000;
    color: #ededed;
    padding: 8px;

    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;

    font-size: 20px;
  }
  
  .dropdown-list-airline {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-size: 20px;
    overflow-y: auto;
    display: none;
    color: #ededed;

    width: 412px;
    height: 48px;
    flex-shrink: 0;
  }
  
  .dropdown-list-airline li {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-list-airline li:hover {
    background-color: rgba(32, 32, 32, 0.48);
  }


/* Departure dropdown */
.de-air {
    margin-top: 10vh;
}

.deair-ddn {
    background-color: #000;
    position: fixed;
    width: 412px;
    height: 48px;
}
  
.search-box-deair {
    width: 412px;
    height: 48px;
    flex-shrink: 0;

    background-color: #000;
    color: #ededed;
    padding: 8px;

    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;

    font-size: 20px;


  }
  
  .dropdown-list-deair {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-size: 20px;
    overflow-y: auto;
    display: none;
    color: #ededed;

    width: 412px;
    height: 48px;
    flex-shrink: 0;
  }
  
  .dropdown-list-deair li {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-list-deair li:hover {
    background-color: rgba(32, 32, 32, 0.48);
  }

/* select right */

/* Time of Departure dropdown */

.time-ddn {
    background-color: #000;
    position: fixed;
    width: 412px;
    height: 48px;
}

.search-box-timede {
    width: 412px;
    height: 48px;
    flex-shrink: 0;

    background-color: #000;
    color: #ededed;
    padding: 8px;

    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;

    font-size: 20px;
}

/* Destination dropdown */
.des-air {
    margin-top: 10vh;
}

.desair-ddn {
    background-color: #000;
    position: fixed;
    width: 412px;
    height: 48px;
}
  
.search-box-desair {
    width: 412px;
    height: 48px;
    flex-shrink: 0;

    background-color: #000;
    color: #ededed;
    padding: 8px;

    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;

    font-size: 20px;


  }
  
  .dropdown-list-desair {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-size: 20px;
    overflow-y: auto;
    display: none;
    color: #ededed;

    width: 412px;
    height: 48px;
    flex-shrink: 0;
  }
  
  .dropdown-list-desair li {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-list-desair li:hover {
    background-color: rgba(32, 32, 32, 0.48);
  }




/* FOOTER */

.footer {
    padding: 5px 5%;
    width: 100%;
    height: 60px;
    bottom: 0;
    position: absolute;

    width: 100%;
    height: 70px;
    flex-shrink: 0;
    display: flex;

    border-radius: 10px 10px 0px 0px;
    background: #FFF;
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25), 0px 0px 100px 0px rgba(255, 255, 255, 0.25) inset;
}

.ft-content{
    display: flex;


    padding: 2 2 2 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;

}

.svg-small{
    width: 34px;
    height: 34px;

    margin-right: 9px;
    margin-top: 3px;

    flex-shrink: 0;
}

.ft-content .line {
    width: 2px;
    height: 40px;
    background: #000;
    margin-right: 20px;
    margin-left: 9px;
    margin-top: 2px;
  }


.footer-text {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 10px;
}
.ft-end {
    display:grid;
    justify-items: flex-end;

    margin-left: 70%;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 2 2 2 2;
}

.ft-lefttext {
    backdrop-filter: blur(36px);
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 10px;

}






