@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* เพิ่ม Media Queries ที่นี่ */

@media only screen and (max-width: 1440px) {
    body {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }

    header {
        width: 100%;
        height: 50px; 
    }

    .leftside {
        margin-left: 20px; 
        font-size: 32px; 
    }

    .middle{
        justify-items: center;
        align-items: center;
    }

}

@media only screen and (max-width: 768px) {
    .logo {
        font-size: 24px;
    }
}

/* สิ้นสุดการเพิ่ม Media Queries */

:root {
    --text-color : #ededed;
}

html {
    overflow: hidden;
    font-size: 25;
}

body {
    display: flex;
    font-family: 'Roboto' ;
    scroll-behavior: smooth;
    position: relative;

    background-image: url(https://github.com/babylionas/Datamining/blob/main/Project/public/bg-new.png?raw=true);
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #000;
        
}

header {
    width: 100%;
    height: 6vh;
    flex-shrink: 0;

    background: rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset;
        backdrop-filter: blur(6.25px);

    display: flex;
    justify-content: left; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center;
}


.leftside {

    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: #000;
    letter-spacing: 1px;
    margin: 0;

    padding: 2vh 2vh 2vh 2vh;
}

.middle {
    align-items: center;
    padding:0;
}




