@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* เพิ่ม Media Queries ที่นี่ */

@media only screen and (max-width: 1440px) {
    body {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }

    header {
        width: 100%;
        height: 50px; 
    }

    .leftside {
        margin-left: 20px; 
        font-size: 32px; 
    }

    .middle{
        justify-items: center;
        align-items: center;
    }

}

@media only screen and (max-width: 768px) {
    .logo {
        font-size: 24px;
    }
}

/* สิ้นสุดการเพิ่ม Media Queries */

:root {
    --text-color : #ededed;
}

html {
    overflow: hidden;
    font-size: 25;
}

body {
    display: flex;
    font-family: 'Roboto' ;
    scroll-behavior: smooth;
    position: relative;

    background-image: url(https://github.com/babylionas/Datamining/blob/main/Project/public/bg-new.png?raw=true);
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #000;
        
}

header {
    width: 100%;
    height: 6vh;
    flex-shrink: 0;

    background: rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset;
        backdrop-filter: blur(6.25px);

    display: flex;
    justify-content: left; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center;
}


.leftside {

    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: #000;
    letter-spacing: 1px;
    margin: 0;

    padding: 2vh 2vh 2vh 2vh;
}

.middle {
    align-items: center;
    padding:0;
}

.hint {
    display: flex;
    justify-content: right;
    align-items: right;

    margin-left: 65vh;
    padding-left: 10vh;
    right: 0;
}

.hint summary {
    list-style: none;
          
        &:focus {
          outline: none;
        }
        &::-webkit-details-marker {
          display: none;
        }
}

details {
	position: fixed;
	right: 1rem;
	top: 1rem;
	margin-top: 2rem;
	color: #6b7280;
	display: flex;
	flex-direction: column;

	div {
		background-color: #1e1e27;
		box-shadow: 0 5px 10px rgba(#000, 0.15);
		padding: 1.25rem;
		border-radius: 8px;
		position: absolute;
		max-height: calc(100vh - 100px);
		width: 400px;
		max-width: calc(100vw - 2rem);
		top: calc(100% + 1rem);
		right: 0;
		overflow: auto;
		transform-origin: 100% 100%;
		color: #95a3b9;
		&::-webkit-scrollbar {
			width: 15px;
			background-color:#1e1e27;
		}

		&::-webkit-scrollbar-thumb {
			width: 5px;
			border-radius: 99em;
			background-color: #95a3b9;
			border: 5px solid #1e1e27;
		}
		& > * + * {
			margin-top: 0.75em;
		}

		pre {
			white-space: pre-line;
			 background-color: #2c2d38;
			border: 1px solid #95a3b9;
			border-radius: 6px;
			font-family: monospace;
			padding: 0.75em;
			font-size: 0.875rem;
			color: #fff;
		}
	}

	&[open] div {
		animation: scale 0.25s ease;
	}
}

summary {
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	padding: 0.75em 3em .75em 1.25em;
	border-radius: 99em;
	color: #fff;
	background-color: #185adb;
	box-shadow: 0 5px 15px rgba(#000, 0.1);
	list-style: none;
	text-align: center;
	cursor: pointer;
	transition: 0.15s ease;
	position: relative;
	&::-webkit-details-marker {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: mix(#000, #185adb, 20%);
	     color: #6366f1;
	}

	svg {
		position: absolute;
		right: 1.25em;
		top: 50%; 
		transform: translateY(-50%);
		width: 1.5em;
		height: 1.5em;
	}
}

@keyframes scale {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}



